---
layout: default
---

<header>
    <section class="work">
        <section class="work-preview"></section>
        <section class="work-info">{{ content }}</section>
    </section>
</header>
<article id="works">
    {% for work in works %}

    <hr class="works-separator" aria-hidden="true">
    <section class="work">
        <h3 class="clarifier">featured work #{{ forloop.index }}</h3>
        <section class="work-preview">
            {% assign src = work.preview.source | prefix_location: work.preview.location %}
            {% work_preview src work.preview.alt work.links work.preview.link work.preview.class %}
        </section>
        <section class="work-info">
            <hgroup>
                <h2>{{ work.title | typography }}</h2>
                <h4>{{ work.type | typography }}</h4>
            </hgroup>
            <p>{{ work.description | typography }}</p>
            <section class="work-links">
                <h5 class="clarifier">links for this work</h5>
                <ul>
                    {% for link in work.links %}

                    <li>
                        <a href="{{ link.target | prefix_location: link.location }}" target="_blank">
                            {{ link.label | typography }}
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </section>
        </section>
    </section>

    {% endfor %}
</article>
